.hero {
    height: 600px;
    overflow: hidden;
}
.hero .container {
    width: 100vw;
}

.hero__content {
    position: absolute;
    z-index: 10;
    padding-left: 10%;
    padding-top: 20%;
}

.hero__title {
    font-size: 50px;
    margin-bottom: 30px;
}
.hero__text {
    font-size: 32px
}