<header class="header">
    <div class="container">
        <a href="#" class="logo">Pixabay</a>
        <nav class="header__nav">
            <ul class="header__nav__list">
                <li class="header__nav__item">
                    <a href="" class="header__nav__link">Home</a>
                </li>
                <li class="header__nav__item">
                    <a href="" class="header__nav__link">About us</a>
                </li>
                <li class="header__nav__item">
                    <a href="" class="header__nav__link">Contacts</a>
                </li>
            </ul>
        </nav>
        <button id="open-modal__button" class="header__btn">sign in</button>
    </div>
</header>