<section class="hero">
  <div class="container">
    <div class="hero__content">
      <h1 class="hero__title">Find your image</h1>
      <p class="hero__text">Lorem ipsum dolor sit amet.</p>
    </div>

    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="/img/hero/forest.jpg" alt="forest" class="swiper__img" />
        </div>
        <div class="swiper-slide">
          <img src="/img/hero/nature.jpg" alt="nature" class="swiper__img" />
        </div>
        <div class="swiper-slide">
          <img src="/img/hero/grasses.jpg" alt="grasses" class="swiper__img" />
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
